adium-theme-ubuntu==0.3.4
appdirs==1.4.3
arandr==0.1.9
asn1crypto==0.22.0
attrs==15.2.0
BeautifulSoup==3.2.1
beautifulsoup4==4.4.1
billboard.py==3.0.2
binwalk==2.1.1
blinker==1.3
bs4==0.0.1
capstone==3.0.4
cffi==1.10.0
chardet==2.3.0
click==6.7
cryptography==1.8.1
cycler==0.9.0
debtags==2.0
decorator==4.0.6
defer==1.0.6
dirspec==13.10
distorm3==3.3.0
duplicity==0.7.6
enum34==1.1.6
Flask==0.12.2
Flask-SQLAlchemy==2.2
functools32==3.2.3.post2
html5lib==1.0b8
httplib2==0.9.1
idna==2.5
intervaltree==2.1.0
ipaddress==1.0.18
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
jupyter-core==4.3.0
lockfile==0.12.2
lxml==3.5.0
Mako==1.0.6
MarkupSafe==1.0
matplotlib==1.5.1
mechanize==0.3.3
migrate==0.3.8
nbformat==4.3.0
ndg-httpsclient==0.4.0
numpy==1.11.0
oauthlib==1.0.3
oneconf==0.3.9
packaging==16.8
PAM==0.4.2
paramiko==2.1.2
pbr==2.1.0
Pillow==3.1.2
piston-mini-client==0.7.5
plotly==2.0.12
pluggy==0.4.0
psutil==5.2.2
pwntools==3.5.1
py==1.4.33
pyasn1==0.2.3
pyasn1-modules==0.0.7
pycparser==2.17
pycrypto==2.6.1
pycups==1.9.73
pyelftools==0.24
Pygments==2.2.0
pygobject==3.20.0
PyJWT==1.3.0
pyliblzma==0.5.3
PyOpenGL==3.0.2
pyOpenSSL==0.15.1
pypandoc==1.4
pyparsing==2.2.0
pyqtgraph==0.9.10
pyserial==3.3
PySocks==1.6.7
python-apt==1.1.0b1
python-dateutil==2.6.0
python-debian==0.1.27
python-firebase==1.2
python-lzo==1.8
pytz==2014.10
pyxdg==0.25
ranger==1.7.1
requests==1.1.0
ROPGadget==5.4
scipy==0.17.0
service-identity==16.0.0
six==1.10.0
software-center-aptd-plugins==0.0.0
sortedcontainers==1.5.7
SQLAlchemy==1.1.11
sqlalchemy-migrate==0.11.0
sqlparse==0.2.3
stevedore==1.21.0
Tempita==0.5.2
tox==2.7.0
traitlets==4.3.2
Twisted==16.0.0
ubuntuone-client-data==14.4
unity-lens-photos==1.0
urllib3==1.13.1
vboxapi==1.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
Wand==0.4.4
webencodings==0.5.1
Werkzeug==0.12.2
zope.interface==4.1.3
